# Fama-French Three-Factor Model

In this notebook, you will learn to calculate the expected returns of the stock using Fama-French three-factor model.

The steps are:
1. Read the data from CSV
2. Calculate the daily and excess returns of stock
3. Calculate the coefficients of Fama-French factors
4. Calculate the annualised returns of Fama-French factors
5. Calculate the expected returns of stock

Expected Return = risk-free rate + systematic risk premium + size factor + value factor

Ri = Rf + Bm (Rm - Rf) + Bsmb(SMB) + Bhml(HML)

### Read the data from CSV

we have downloaded the data for excess market returns (Rm - Rf), Small minus Big (SMB), High mius Low (HML), and risk-free rate (Rf)

In [4]:
# Import the pandas library
import pandas as pd

# Read the data
data = pd.read_csv('data/Data_2016_to_2019_FF.csv', index_col='date', parse_dates=['date'])

# Print the first five rows of data
data.tail()

            market_excess_returns   SMB   HML  risk_free_rate  amazon_price
date
2019-04-24                  -0.23  0.31 -0.22            0.01        207.16
2019-04-25                  -0.14 -0.70 -0.27            0.01        205.28
2019-04-26                   0.53  0.43  0.05            0.01        204.30
2019-04-29                   0.18  0.12  0.61            0.01        204.61
2019-04-30                  -0.04 -0.71  0.27            0.01        200.67