# Fama-French Three-Factor Model

In this notebook, you will learn to calculate the expected returns of the stock using Fama-French three-factor model.

The steps are:
1. Read the data from CSV
2. Calculate the daily and excess returns of stock
3. Calculate the coefficients of Fama-French factors
4. Calculate the annualised returns of Fama-French factors
5. Calculate the expected returns of stock

Expected Return = risk-free rate + systematic risk premium + size factor + value factor

Ri = Rf + Bm (Rm - Rf) + Bsmb(SMB) + Bhml(HML)

### Read the data from CSV

we have downloaded the data for excess market returns (Rm - Rf), Small minus Big (SMB), High mius Low (HML), and risk-free rate (Rf)

In [2]:
# Import the pandas library
import pandas as pd

# Read the data
data = pd.read_csv('data/Data_2016_to_2019_FF.csv', index_col='date', parse_dates=['date'])

# Print the first five rows of data
data.tail()

            market_excess_returns   SMB   HML  risk_free_rate  amazon_price
date
2019-04-24                  -0.23  0.31 -0.22            0.01        207.16
2019-04-25                  -0.14 -0.70 -0.27            0.01        205.28
2019-04-26                   0.53  0.43  0.05            0.01        204.30
2019-04-29                   0.18  0.12  0.61            0.01        204.61
2019-04-30                  -0.04 -0.71  0.27            0.01        200.67

### Calculate the daily Amazon returns

In [3]:
# Calculate the daily Amazon returns
data['daily_amazon_returns'] = data.amazon_price.pct_change() * 100

# Drop the NaN values
data = data.dropna()

# Print first five rows of data
data.head()

,market_excess_returns,SMB,HML,risk_free_rate,amazon_price,daily_amazon_returns
date,,,,,,
2016-05-03,-1.05,-0.66,-0.49,0.001,95.18,1.644596
2016-05-04,-0.66,-0.15,0.06,0.001,94.19,-1.040134
2016-05-05,-0.08,-0.50,0.09,0.001,93.24,-1.008600
2016-05-06,0.38,0.05,0.24,0.001,92.72,-0.557701
2016-05-09,0.05,0.36,-1.48,0.001,92.79,0.075496

### Calculate the Amazon excess returns

Amazon excess returns are calculated by subtracting risk-free fate from daily returns.

In [4]:
# Calculate the Amazon excess returns
data['amazon_excess_returns'] = data['daily_amazon_returns'] - data['risk_free_rate']

# Print first five rows of data
data.head()

,market_excess_returns,SMB,HML,risk_free_rate,amazon_price,daily_amazon_returns,amazon_excess_returns
date,,,,,,,
2016-05-03,-1.05,-0.66,-0.49,0.001,95.18,1.644596,1.643596
2016-05-04,-0.66,-0.15,0.06,0.001,94.19,-1.040134,-1.041134
2016-05-05,-0.08,-0.50,0.09,0.001,93.24,-1.008600,-1.009600
2016-05-06,0.38,0.05,0.24,0.001,92.72,-0.557701,-0.558701
2016-05-09,0.05,0.36,-1.48,0.001,92.79,0.075496,0.074496

### Calculate the coefficients using regression method

We will use the ordinary least square (OLS) regression method to calculate the coefficients or regression beta of market_excess_returns, SMB, and HML

For that, we will use the OLS method from statsmodels library.

Syntax:

`OLS(y, X)`

In our case, `y` = amazon_excess_returns and `X` = market_excess_returns, SMB, and HML

In [5]:
# Import the statsmodels library
import statsmodels.api as sm

# Independent variables
X = data[['market_excess_returns', 'SMB', 'HML']]

# Dependent variable
y = data['amazon_excess_returns']

# Create a regression model
reg = sm.OLS(y, X).fit()

# Print beta of market_excess_returns
print('Beta of market_excess_return = ', reg.params[0])

# Print beta of SMB
print('Beta of SMB = ', reg.params[1])

# Print beta of HML
print('Beta of HML = ', reg.params[2])

Beta of market_excess_return =  1.1545046729816595
Beta of SMB =  -0.273587789262852
Beta of HML =  -0.7171104348708249