# Calculation of Beta
In this notebook, you will learn about the calculation of beta using regression analysis and variance-covariance method.

The steps fora are:
1. Read the data from CSV
2. Calculate the daily returns
3. Calculate the beta using regression method
4. Calculate the beta using variance-covariance method

### Read the data from CSV

In [1]:
# Import the pandas library
import pandas as pd

# Read the data
data = pd.read_csv('data/AMZN_SPY_Prices_2018_to_2019_Beta.csv', index_col=0)

data.head()

            amazon_price  spy_price
date
14-06-2018       1723.86     278.73
15-06-2018       1715.97     277.13
18-06-2018       1723.79     276.56
19-06-2018       1734.78     275.50
20-06-2018       1750.08     275.97

### Calculate the daily returns

In [2]:
# Calculate the daily returns of Amazon
data['daily_amazon_returns'] = data.amazon_price.pct_change()

# Calculate the daily returns of S&P500
data["daily_spy_returns"] = data.spy_price.pct_change()

# Drop NaN values
data = data.dropna()

# Print the first five rows of data dataframe
data.head()

            amazon_price  spy_price  daily_amazon_returns  daily_spy_returns
date
15-06-2018       1715.97     277.13             -0.004577          -0.005740
18-06-2018       1723.79     276.56              0.004557          -0.002057
19-06-2018       1734.78     275.50              0.006375          -0.003833
20-06-2018       1750.08     275.97              0.008820           0.001706
21-06-2018       1730.22     274.24             -0.011348          -0.006269

### Calculate the beta using regression method
We have daily returns of Amazon and S&P500. We will use the ordinary least square (OLS) regression to calculate the Beta of the Amazon.

For that, we will use the OLS function from statsmodel library.

Syntax:

`OLS(y, X)`

In our case, `y` and `X` = daily_spy_returns

In [4]:
# Import statsmodels library
import statsmodels.api as sm

# create a regression model
reg = sm.OLS(data.daily_amazon_returns, data.daily_spy_returns)

# Fit the model
results = reg.fit()

# Print the beta of Amazon
print('Beta of Amazon: %.2f' % results.params[0])

Beta of Amazon: 1.87